.root{
    -fx-background-color: #928;
    -fx-font-size:20 ;
    -fx-background-image: url(2.jpg);
    -fx-background-size:cover;
}

.radio-button{
    -fx-background-size: 100;
    -fx-text-fill:#BBC922;
    -fx-font-weight:bold;
    -fx-font-size:20 ;
    -fx-background-color: #987;
    -fx-font-family: "宋体";
}
.button{
    /*混合颜色样式*/
    -fx-background-color: linear-gradient(#dc9656,#ab4642);
    -fx-text-fill: #ffffff;
    /*圆形按钮*/
    -fx-background-radius: 6;
    -fx-background-size: 120;
    -fx-border-image-repeat: no-repeat;
}

/*使组件能设置自己的属性*/
.button-blue{
    -fx-background-color: linear-gradient(#dc9634,#bc23fc);
    -fx-text-fill: #198;
    -fx-background-radius: 6;
}

#bold-label{
    /*-fx-highlight-text-fill: ;*/
    -fx-text-fill: #dd8190;
    -fx-font-weight:bold;
    -fx-font-size:30 ;
}

#gridpane {
    -fx-text-fill: linear-gradient(#D63747,#dc9634);

    -fx-background-color:#EBF5E4;

    -fx-border-color: #B4D6A9;
    -fx-font-family: "AR PL UKai CN";

}